* {
  padding: 0;
  margin: 0;
  background-color: lightgray;
}

h1 {
  display: grid;
  justify-content: center;
  font-size: 5rem;
  padding: 2rem;
}

.container {
  display: grid;
  justify-content: center;
}

.calculator {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 3fr;
  border: 2px solid;
  height: auto;
  width: auto;
  align-items: center;
}

.screen-container {
  display: grid;
  justify-self: center;
  grid-template-rows: 1fr 2fr;
  border: 2px solid;
  height: 100%;
  width: 396px;
  max-width: 396px;
  border: 2px solid;
}

.previous-display {
  background-color: rgb(77, 77, 77);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  border-bottom: 2px solid gray;
}

.current-display {
  color: white;
  background-color: rgb(77, 77, 77);
  max-width: 396px;
  overflow-wrap: break-word;
  overflow-wrap: normal;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  border-bottom: 2px solid black;
}

.buttons {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
}

.btn {
  color: #000000;
  background-color: rgb(77, 77, 77);
  font-size: 2rem;
}

.btn i:hover{
  background-color: grey;
  color: black;
}

.btn i {
  display: grid;
  background-color: rgb(77, 77, 77);
  color: white;
  width: 100%;
  height: 100%;
  align-self: center;
  place-items: center;
  background: transparent;
}

.operator i {
  color: gray;
  background: transparent;
}

.operator i:hover {
  background-color: grey;
  color: black;
}

.equals{
  width: 200px;
}
